In [104]:
# Question 1 finding the age of the customers - 
# Sample input:   [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008],
# Sample output: [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]


year =  [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
def cal_age(year):
    age =[]
    for i in year : 
       age.append(2019 - i)
    return age

In [105]:
cal_age(year)

[20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

In [122]:
# Question 2 - removing the oldest and yougest person from the list
# Sample input: [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
# Sample output: [20, 24, 14, 12, 13, 25, 23, 11]
age = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
def remove_out(age):
      age.remove(max(age))
      age.remove(max(age))
      return age

In [123]:
remove_out(age)

[20, 24, 14, 9, 12, 13, 23, 11]

In [81]:
# Question 3 joining 2 lists of customers
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
final = (munich) and (berlin)
print(final)

[15, 13, 16, 18, 19, 10, 12]

In [1]:
# Question 3 using function retuning comon age values
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

def remove_duplicate():
    duplicate = []
    for munich_item in munich[:]:
        for berlin_item in berlin[:]:
            if munich_item ==berlin_item:
                duplicate.append(berlin_item)
    return duplicate

In [2]:
remove_duplicate()

[13, 15, 19, 18, 10, 16]

In [124]:
# Question 4 : removing duplicates from the list
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
def remove_duplicates():
        for berlin in munich :
         berlin.append(berlin.remove())
        return berlin    
print(berlin)

[15, 13, 16, 18, 19, 10, 12]

In [62]:
# Question 5  - checking the age is available or not

In [16]:
def find(list,x):
    for i in list:
        if i == x:
         return(True)
        else:
         return(False)

In [42]:
find([15,13,16,18,19,15,10], 15)

True

In [19]:
find( [15,13,16,18,19,15,10], 28)

False

In [40]:
find( [15,13,16,18,19,15,10], 118)

False

In [3]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
new = []
def s_duplicate(berlin,munich):
    for i in berlin:
        if i in munich:
            new.append(i)
    return new

In [4]:
s_duplicate(berlin,munich)

[15, 13, 16, 18, 19, 10]

In [ ]:
list1 = [15, 13, 16, 18, 19, 10]
def remove_dupli(list1):
    for x in list1:
        if x not in new:
            new.append(x)
    return new